/*!
atomicity-animations.css v1.0.0 | ISC License | https://github.com/jimmynicol/atomicity-animations.css 
*/

@-webkit-keyframes a-kf-fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes a-kf-fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.a-anim-fadein {
  -webkit-animation: a-kf-fadein 750ms ease-in-out;
          animation: a-kf-fadein 750ms ease-in-out; }

@-webkit-keyframes a-kf-fadeout {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes a-kf-fadeout {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.a-anim-fadeout {
  -webkit-animation: a-kf-fadeout 750ms ease-in-out;
          animation: a-kf-fadeout 750ms ease-in-out; }

@-webkit-keyframes a-kf-fadeinup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes a-kf-fadeinup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.a-anim-fadeinup {
  -webkit-animation: a-kf-fadeinup 750ms ease-in-out;
          animation: a-kf-fadeinup 750ms ease-in-out; }

@-webkit-keyframes a-kf-fadeindown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes a-kf-fadeindown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.a-anim-fadeindown {
  -webkit-animation: a-kf-fadeindown 750ms ease-in-out;
          animation: a-kf-fadeindown 750ms ease-in-out; }

@-webkit-keyframes a-kf-flipin-x {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg); }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
            transform: perspective(400px) rotateX(-10deg); }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
            transform: perspective(400px) rotateX(10deg); }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
            transform: perspective(400px) rotateX(0deg); } }

@keyframes a-kf-flipin-x {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg); }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
            transform: perspective(400px) rotateX(-10deg); }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
            transform: perspective(400px) rotateX(10deg); }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
            transform: perspective(400px) rotateX(0deg); } }

.a-anim-flipin-x {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: a-kf-flipin-x;
          animation-name: a-kf-flipin-x;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 750ms;
          animation-duration: 750ms; }

@-webkit-keyframes a-kf-flipout-x {
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
            transform: perspective(400px) rotateX(0deg); }

  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg); } }

@keyframes a-kf-flipout-x {
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
            transform: perspective(400px) rotateX(0deg); }

  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg); } }

.a-anim-flipout-x {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: a-kf-flipout-x;
          animation-name: a-kf-flipout-x;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 750ms;
          animation-duration: 750ms; }

@-webkit-keyframes a-kf-flipin-y {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg); }

  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
            transform: perspective(400px) rotateY(-10deg); }

  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg); }

  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
            transform: perspective(400px) rotateY(0deg); } }

@keyframes a-kf-flipin-y {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg); }

  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
            transform: perspective(400px) rotateY(-10deg); }

  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg); }

  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
            transform: perspective(400px) rotateY(0deg); } }

.a-anim-flipin-y {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: a-kf-flipin-y;
          animation-name: a-kf-flipin-y;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 750ms;
          animation-duration: 750ms; }

@-webkit-keyframes a-kf-flipout-y {
  0% {
    -webkit-transform: perspective(400px) rotateY(0deg);
            transform: perspective(400px) rotateY(0deg); }

  100% {
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg); } }

@keyframes a-kf-flipout-y {
  0% {
    -webkit-transform: perspective(400px) rotateY(0deg);
            transform: perspective(400px) rotateY(0deg); }

  100% {
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg); } }

.a-anim-flipout-y {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: a-kf-flipout-y;
          animation-name: a-kf-flipout-y;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 750ms;
          animation-duration: 750ms; }

@-webkit-keyframes a-kf-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@keyframes a-kf-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

.a-anim-rotate, .a-anim-rotate-c {
  -webkit-animation: a-kf-rotate 750ms infinite linear;
          animation: a-kf-rotate 750ms infinite linear; }

@-webkit-keyframes a-kf-rotate-ac {
  0% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes a-kf-rotate-ac {
  0% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

.a-anim-rotate-ac {
  -webkit-animation: a-kf-rotate-ac 750ms infinite linear;
          animation: a-kf-rotate-ac 750ms infinite linear; }

[class*='a-anim-rotate'].origin-tl {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%; }
[class*='a-anim-rotate'].origin-tr {
  -webkit-transform-origin: 100% 0%;
      -ms-transform-origin: 100% 0%;
          transform-origin: 100% 0%; }
[class*='a-anim-rotate'].origin-bl {
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%; }
[class*='a-anim-rotate'].origin-br {
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%; }

.a-trans {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms; }
  .a-trans.all {
    -webkit-transition-property: all;
            transition-property: all; }
  .a-trans.font {
    -webkit-transition-property: font, color;
            transition-property: font, color; }
  .a-trans.layout {
    -webkit-transition-property: height, width;
            transition-property: height, width; }
  .a-trans.position {
    -webkit-transition-property: top, left, bottom, right;
            transition-property: top, left, bottom, right; }
  .a-trans.transform {
    -webkit-transition-property: -webkit-transform;
            transition-property: transform; }

[class*='a-anim'].anim-xslow {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms; }
[class*='a-anim'].anim-slow {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms; }
[class*='a-anim'].anim-medium {
  -webkit-animation-duration: 750ms;
          animation-duration: 750ms; }
[class*='a-anim'].anim-fast {
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms; }
[class*='a-anim'].anim-xfast {
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms; }

[class*='a-trans'].trans-xslow {
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms; }
[class*='a-trans'].trans-slow {
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms; }
[class*='a-trans'].trans-medium {
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms; }
[class*='a-trans'].trans-fast {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms; }
[class*='a-trans'].trans-xfast {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms; }

[class*='a-anim'].linear {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }
[class*='a-anim'].ease {
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }
[class*='a-anim'].ease-in {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }
[class*='a-anim'].ease-out {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }
[class*='a-anim'].ease-in-out {
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }
[class*='a-anim'].ease-in-quad {
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
          animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
[class*='a-anim'].ease-in-cubic {
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
[class*='a-anim'].ease-in-quart {
  -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
          animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); }
[class*='a-anim'].ease-in-quint {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
[class*='a-anim'].ease-in-sine {
  -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
          animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); }
[class*='a-anim'].ease-in-expo {
  -webkit-animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
          animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035); }
[class*='a-anim'].ease-in-circ {
  -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
          animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
[class*='a-anim'].ease-in-back {
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
          animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }
[class*='a-anim'].ease-out-quad {
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
[class*='a-anim'].ease-out-cubic {
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
[class*='a-anim'].ease-out-quart {
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
[class*='a-anim'].ease-out-quint {
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
[class*='a-anim'].ease-out-sine {
  -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
          animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); }
[class*='a-anim'].ease-out-expo {
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
[class*='a-anim'].ease-out-circ {
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }
[class*='a-anim'].ease-out-back {
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
[class*='a-anim'].ease-in-out-quad {
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }
[class*='a-anim'].ease-in-out-cubic {
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
[class*='a-anim'].ease-in-out-quart {
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1); }
[class*='a-anim'].ease-in-out-quint {
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
[class*='a-anim'].ease-in-out-sine {
  -webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); }
[class*='a-anim'].ease-in-out-expo {
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1); }
[class*='a-anim'].ease-in-out-circ {
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
          animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }
[class*='a-anim'].ease-in-out-back {
  -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }

[class*='a-trans'].linear {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear; }
[class*='a-trans'].ease {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease; }
[class*='a-trans'].ease-in {
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in; }
[class*='a-trans'].ease-out {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }
[class*='a-trans'].ease-in-out {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }
[class*='a-trans'].ease-in-quad {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
          transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
[class*='a-trans'].ease-in-cubic {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
[class*='a-trans'].ease-in-quart {
  -webkit-transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
          transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); }
[class*='a-trans'].ease-in-quint {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
[class*='a-trans'].ease-in-sine {
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
          transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); }
[class*='a-trans'].ease-in-expo {
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
          transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035); }
[class*='a-trans'].ease-in-circ {
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
          transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
[class*='a-trans'].ease-in-back {
  -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
          transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }
[class*='a-trans'].ease-out-quad {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
[class*='a-trans'].ease-out-cubic {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
[class*='a-trans'].ease-out-quart {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
[class*='a-trans'].ease-out-quint {
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
[class*='a-trans'].ease-out-sine {
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
          transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); }
[class*='a-trans'].ease-out-expo {
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
[class*='a-trans'].ease-out-circ {
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }
[class*='a-trans'].ease-out-back {
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
[class*='a-trans'].ease-in-out-quad {
  -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }
[class*='a-trans'].ease-in-out-cubic {
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
[class*='a-trans'].ease-in-out-quart {
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1); }
[class*='a-trans'].ease-in-out-quint {
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
[class*='a-trans'].ease-in-out-sine {
  -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); }
[class*='a-trans'].ease-in-out-expo {
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1); }
[class*='a-trans'].ease-in-out-circ {
  -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }
[class*='a-trans'].ease-in-out-back {
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
